#ordersetting .color_red { color: red; vertical-align: middle; }
#ordersetting .ordersetting_top { width: 100%; height: 61px; box-sizing: border-box; line-height: 61px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .ordersetting_top span:nth-of-type(1) { font-size:18px; color:#161e42; margin-left: 24px; font-weight: 600; }
#ordersetting .ordersetting_top span:nth-of-type(2) { font-size:14px; color:#2aa0ef; float: right; margin-right: 20px; cursor: pointer; }
#ordersetting .custom_info>div:nth-of-type(1) { height: 35px; line-height: 35px; padding-left: 30px; background: #f0f0f0; color:#161e42; font-size: 13px; }
#ordersetting .custom_info>div:nth-of-type(2) p { display: inline-block; font-size:13px; color:#182044; }
#ordersetting .custom_info_1 { padding-left: 37px; height: 57px; line-height: 57px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .custom_info_1 label { font-size:13px; color:#182044; font-weight: 500; width: 56px; }
#ordersetting .custom_info_1 input:nth-of-type(1) { width: 117px; height: 30px; margin-left: 50px; }
#ordersetting .custom_info_1 input:nth-of-type(2) { width: 170px; height: 30px; margin-left: 50px; }
#ordersetting .custom_info_1 .color_red:nth-of-type(2) { margin-left: 186px; }
#ordersetting .custom_info_2 { padding-left: 37px; height: 57px; line-height: 57px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .custom_info_2 p:nth-of-type(1) { width: 56px; }
#ordersetting .custom_info_2 p { display: inline-block; font-size: 13px; }
#ordersetting .custom_info_2 .ordermethod { width: 24px; height: 17px; font-size: 12px; margin-left: 86px; }
#ordersetting .custom_info_2 p:nth-of-type(2) { margin-left: 360px; border:1px solid #37a6f0; box-shadow:inset 0 0 2px 0 rgba(157,157,157,0.50); border-radius:3px; width:123px; height:23px; line-height: 23px; font-size: 12px; color:#37a6f0; text-align: center; }
#ordersetting .service_info>div:nth-of-type(1) { height: 35px; line-height: 35px; padding-left: 30px; background: #f0f0f0; color:#161e42; font-size: 13px; }
#ordersetting .service_info>div:nth-of-type(1) span:nth-of-type(2) { display: inline-block; border:1px solid #37a6f0; box-shadow:inset 0 0 2px 0 rgba(157,157,157,0.50); border-radius:3px; width:123px; height:23px; font-size:12px; color:#37a6f0; text-align: center; line-height: 23px; margin-left: 43px; }
#ordersetting .service_info_1 { padding-left: 37px; height: 57px; line-height: 57px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .service_info_1 label { font-size:13px; color:#182044; font-weight: 500; width: 90px; }
#ordersetting .service_info_1 label:nth-of-type(2) { width: 56px; }
#ordersetting .service_info_1 input:nth-of-type(1) { width: 117px; height: 30px; margin-left: 16px; }
#ordersetting .service_info_1 input:nth-of-type(2) { width: 170px; height: 30px; margin-left: 50px; }
#ordersetting .service_info_1 .color_red:nth-of-type(2) { margin-left: 186px; }
#ordersetting .service_info_2 { padding-left: 37px; }
#ordersetting .service_info_2 p { display: inline-block; height: 57px; line-height: 57px; width: 91px; font-size: 13px; }
#ordersetting .server_info>div:nth-of-type(1) { height: 35px; line-height: 35px; padding-left: 30px; background: #f0f0f0; color:#161e42; font-size: 13px; }
#ordersetting .server_info p { display: inline-block; }
#ordersetting .server_info_1 { padding-left: 37px; height: 57px; line-height: 57px; font-size: 13px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .server_info_1 p:nth-of-type(1) { width: 92px; }
#ordersetting .server_info_1 p:nth-of-type(2) { width: 52px; height: 25px; line-height: 25px; border: 1px solid #f0f0f0; text-align: center; color:#37a6f0; font-size: 12px; margin-left: 64px; }
#ordersetting .server_info_2 { padding-left: 37px; font-size: 13px; height: 57px; line-height: 57px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .server_info_2 p { width: 92px; }
#ordersetting .server_info_2 input { width: 122px; height: 23px; text-align: left; line-height: 23px; margin-left: 30px; }
#ordersetting .server_info_3 { padding-left: 37px; font-size: 13px; height: 57px; line-height: 57px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .server_info_3 p:nth-of-type(1) { width: 92px; }
#ordersetting .server_info_3 p:nth-of-type(2) { margin-left: 60px; }
#ordersetting .color_red:nth-of-type(2) { margin-left: 224px; }
#ordersetting .server_info_4 { padding-top: 10px; padding-left: 47px; padding-bottom: 10px; border-bottom: 1px solid #f0f0f0; }
#ordersetting .server_info_4 p:nth-of-type(1) { vertical-align: top; font-size: 13px; margin-right: 76px; margin-top: 6px; }
#ordersetting .server_info_4 p:nth-of-type(2) { vertical-align: bottom; font-size: 13px; }
#ordersetting .ordersubmit { height: 104px; line-height: 104px; text-align: center; }
#ordersetting .ordersubmit input:nth-of-type(1) { font-size: 13px; border:1px solid #4aaff2; border-radius:3px; width:94px; height:28px; line-height: 28px; background: #fff; color: #4aaff2; }
#ordersetting .ordersubmit input:nth-of-type(2) { font-size: 13px; border:1px solid #c3c3c3; border-radius:3px; width:52px; height:28px; line-height: 28px; background: #fff; margin-left: 24px; }
.server_body { height: 856px; }
#orderselect { width: 122px; height: 30px; margin-left: 50px; }
#s_province { margin-left: 25px; }
#s_province,#s_city,#s_county { font-size: 13px; }






