/*订单列表页*/
.orderlist_wrap{
    width:100%;
}
/*订单列表顶部*/
.orderlist_wrap .orderlist_header{
    height:59px;
    border-bottom: 1px solid #e0e0e0;
}
.orderlist_wrap .orderlist_header .orderlist_header_text{
    font-family:PingFangSC-Light;
    font-size:18px;
    color:#161e42;
    letter-spacing:0;
    text-align:left;
    margin:19px 0 0 24px;
    display:inline-block;
}
/*订单列表操作栏*/
.orderlist_wrap .orderlist_tools{
    height:59px;
}
.orderlist_wrap .orderlist_tools>li{
    float: left;
}
/*订单列表操作栏中的下拉框*/
.orderlist_wrap .orderlist_tools .orderlist_selectDown{
    margin: 11px 0 12px 23px;
    position: relative;
}
.orderlist_wrap .orderlist_tools .orderlist_selectDown .select_header{
    background:#ffffff;
    box-shadow:0 0 2px 0 rgba(0,0,0,0.50);
    border-radius:2px 0 0 2px;;
    width:152px;
    height:34px;
    line-height: 34px;
    text-align: center;
    float: left;
}
.orderlist_wrap .orderlist_tools .orderlist_selectDown>button{
    float: left;
    background:#293466;
    border:1px solid #293466;
    border-radius:0 2px 2px 0;
    width:35px;
    height:36px;
    color: #fff;
    position: relative;
    top: -1px;
}
.orderlist_wrap .orderlist_tools .orderlist_selectDown .select_body{
    border:1px solid #e0e0e0;
    border-radius: 5px;
    position: absolute;
    background: #fff;
    top: 38px;
    width: 152px;
    display: none;
}
.orderlist_wrap .orderlist_tools .orderlist_selectDown .select_body li{
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}
.orderlist_wrap .orderlist_tools .orderlist_selectDown .select_body li:hover{
    background: #ccc;
}
.orderlist_wrap .orderlist_tools .orderlist_selectDown .select_body li:nth-child(7){
    border-bottom: 0;
}
/*订单列表操作栏当中的搜索框*/
.orderlist_wrap .orderlist_tools .orderlist_serchGroup{
    margin: 11px 0 0 29px;
    width: 292px;
}
.orderlist_wrap .orderlist_tools .orderlist_serchGroup .navbar-form{
    margin:0;
    padding:0;
}
.orderlist_wrap .orderlist_tools .orderlist_serchGroup .navbar-form .form-group{
    float: left;
}
.orderlist_wrap .orderlist_tools .orderlist_serchGroup .navbar-form .form-group input{
    width: 222px;
    height:36px;
}
.orderlist_wrap .orderlist_tools .orderlist_serchGroup .navbar-form .btn{
    background:#293466;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.50);
    border-radius:3px;
    width:59px;
    height:33px;
    font-family:PingFangSC-Medium;
    font-size:12px;
    color:#ffffff;
    letter-spacing: 4px;
    border: none;
    position: relative;
    left: 11px;
    top: 1px;
}
.orderlist_wrap .orderlist_tools .orderlist_orderTools{
    float: right;
    line-height:59px;
}
.orderlist_wrap .orderlist_tools .orderlist_orderTools .plus_icon{
    display: inline-block;
    width: 12px;
    height: 13px;
    background: url(../img/replace.png);
    background-position: 156px -19px;
}
.orderlist_wrap .orderlist_tools .orderlist_orderTools .replace_icon{
    display: inline-block;
    width: 12px;
    height: 13px;
    background: url(../img/replace.png);
    background-position: 49px -19px;
}
.orderlist_wrap .orderlist_tools .orderlist_orderTools .replace{
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#2aa0ef;
    letter-spacing:0;
    text-align:left;
    margin:0 21px 0 0;
}
.orderlist_wrap .orderlist_tools .orderlist_orderTools .add_order{
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#2aa0ef;
    letter-spacing:0;
    text-align:left;
    margin: 0 40px 0 0;
}
/*表格主体*/
.orderlist_wrap .table-responsive{
    width:100%;
    border-top: 1px solid #cdcdcd;
}
.orderlist_wrap .table-responsive .table{
    text-align: center;
}
.orderlist_wrap .table-responsive .table thead{

}
.orderlist_wrap .table-responsive .table thead tr{
    background: #fbfbfb;
    height:35px;
}
.orderlist_wrap .table-responsive .table thead tr td{
    border-right: 1px solid #cdcdcd;
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#565656;
    letter-spacing:0;
    padding: 8px 0;
}
.orderlist_wrap .table-responsive .table thead tr td:first-child{
    width:88px;
}
.orderlist_wrap .table-responsive .table thead tr td:nth-child(3){
    width:116px;
}
.orderlist_wrap .table-responsive .table thead tr td:nth-child(5){
    width:104px;
}
.orderlist_wrap .table-responsive .table thead tr td:nth-child(7){
    width:99px;
}
.orderlist_wrap .table-responsive .table thead tr td:last-child{
    width:200px;
    border-right: 0;
}
.orderlist_wrap .table-responsive .table tbody tr{

}
.orderlist_wrap .table-responsive .table tbody tr td{
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#565656;
    letter-spacing:0;
}
.orderlist_wrap .table-responsive .table tbody tr td .change,.orders{
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#2aa0ef;
    letter-spacing:0;
    cursor: pointer;
}
.orderlist_wrap .table-responsive .table tbody tr td:last-child{
    display:flex;
    justify-content: space-around;
}
.orderlist_wrap .table-responsive .table tbody tr td .cancel{
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#e13216;
    letter-spacing:0;
    cursor: pointer;
}
.orderlist_wrap .table-responsive .table tbody tr td .orders{

}

/*接单弹出框*/
.orderlist_wrap div#mymodal-data{

}
.orderlist_wrap .modal .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -329px;
    margin-top: -219px;

}
.orderlist_wrap .modal .modal-dialog .modal-content{
    background:#ffffff;
    border-radius:3px;
    width:658px;
    height:438px;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-header{
    margin: 0 23px 0 24px;
    height: 44px;
    line-height: 44px;
    padding:0;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-header .close,.modal-title{
    line-height:44px;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-body{
    padding: 46px 84px 0 84px;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-body .modal-body-list{
    width:100%;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-body .modal-body-list{
    line-height: 20px;
    padding: 10px 0;
    height: 40px;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-body .modal-body-left{
    width: 70px;
    height:20px;
    font-family:PingFangSC-Light;
    font-size:14px;
    color:#3c3c3c;
    letter-spacing:0;
    text-align:left;
    float: left;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-body .modal-body-right{
    width:80%;
    height:20px;
    float: left;
    font-family:PingFangSC-Light;
    font-size:14px;
    color:#3c3c3c;
    letter-spacing:0;
    text-indent: 100px;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-body .modal-body-left span:last-child{
    float: right;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-footer{
    border-top:0;
    text-align: center;
    padding: 87px 0 0 0;
}
.orderlist_wrap .modal .modal-dialog .modal-content .modal-footer .btn{

}



/*分页*/
.orderlist_wrap .orderList_footer{
    text-align: center;
    padding: 100px 0 0 0;
}
.orderlist_wrap .orderList_footer .steps{
    display: inline-block;
    background: #fff;
    margin:0 10px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    width: 58px;
    height: 32px;
    text-align: center;;
    line-height: 32px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ccc;
    letter-spacing: 0;
}

.orderlist_wrap .orderList_footer .link{
    display: inline-block;
    background:#293466;
    margin:0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    width: 58px;
    height: 32px;
    line-height: 32px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
}
.currentStep{
    display: inline-block;
    color: #fff;
    background: #293466;
    box-shadow: 0 0 2px 0 rgba(148,148,148,0.50);
    border-radius: 2px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.step{
    display: inline-block;
    margin: 0 10px;
    background:#ffffff;
    box-shadow:0 0 2px 0 rgba(197,197,197,0.50);
    border-radius:2px;
    width:22px;
    height:22px;
    line-height:22px;
    font-family:PingFangSC-Light;
    font-size:12px;
    color:#cccccc;
    letter-spacing:0;
    text-align: center;
}











