<div class="" style=""><form method="POST" action="http://211.75.232.227/pingan/cust4?apply=1" accept-charset="UTF-8" class="form-inline" enctype="multipart/form-data"><input name="_token" type="hidden" value="l9OANyooxlQeepfBaQS3BmLndz27KsaCb7mKDSot"><div class="form-group">
    <label for="name" class="sr-only">標題</label>
    <div id="name_title" class=""><select id="parent" class="form-control" style="width:6em" name="parent"><option value="fad" selected="selected">父親</option><option value="mon">母親</option><option value="mate">配偶</option><option value="child1">子女1</option><option value="child2">子女2</option></select><input id="b_cust_id1" class="form-control chkid" style="width:15em" placeholder="请输入会员编号/身份证" name="b_cust_id1" type="text" value=""><input id="b_cust_id" class="form-control" name="b_cust_id" type="hidden" value=""><span id="b_cust_id_msg" style="display: none;font-size:0.8em;color:green;"></span><br></div></div>&nbsp;<input class="btn btn-lg btn-primary" onclick="" type="submit" value="授权">&nbsp;<a href="http://211.75.232.227/pingan" class="btn btn-lg btn-default" onclick="" target="">返回主功能</a>&nbsp;<hr class="hrBoot"><div class="table-responsive"><table class="table table-striped ">
    <thead>
    <tr><th "="">
        ID</th>
        <th "="">
        授权人</th>
        <th "="">
        授权时间</th>
    </tr></thead>
</table></div>
</form></div>