<div class="row">
    <div class="btn-toolbar" role="toolbar">  <div class="pull-left">     <h2><b>志工服务纪录</b></h2>  </div></div><div class="" style=""><form method="GET" action="http://211.75.232.227/pingan/applyVolunteer2?search=1" accept-charset="UTF-8" class="form-inline" enctype="multipart/form-data"><a href="http://211.75.232.227/pingan/applyVolunteer3" class="btn btn-lg btn-default" onclick="" target="">返回</a>&nbsp;<hr class="hrBoot"><div class="form-group">
    <label for="date1" class="sr-only">標題</label>
    <div id="date1_title" class=""><select id="uid" class="form-control" style="width:10em" name="uid"><option value="1000000117" selected="selected">自己</option><option value="1000000118">1000000118 許寶月</option><option value="1000000134">1000000134 王志工</option></select><label>服务日期</label> <input id="sdate" class="form-control" style="width:12em" placeholder="开始日期2017-05-31" data-date-format="yyyy-mm-dd" name="sdate" type="text" value=""> ~ <input id="edate" class="form-control" style="width:12em" placeholder="结束日期2017-05-31" data-date-format="yyyy-mm-dd" name="edate" type="text" value=""></div></div>&nbsp;<input class="btn btn-lg btn-primary" onclick="" type="submit" value="送出">&nbsp;<hr class="hrBoot"><div class="form-group">
    <label for="v_point" class="sr-only">標題</label>
    <div id="v_point_title" class=""><label>志工点数</label>： 5.0000 ，  <label>总笔数</label>：4</div></div>&nbsp;<hr class="hrBoot"></form></div><div class="table-responsive"><table class="table table-striped ">
    <thead>
    <tr><th "="">
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date-"><span class="glyphicon glyphicon-arrow-down"></span></a>
        服务日期</th>
        <th "="">
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=name"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=name-"><span class="glyphicon glyphicon-arrow-down"></span></a>
        服务名称</th>
        <th "="">
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=name1"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=name1-"><span class="glyphicon glyphicon-arrow-down"></span></a>
        照顾对像</th>
        <th "="">
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date1"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date1-"><span class="glyphicon glyphicon-arrow-down"></span></a>
        开始打卡时间</th>
        <th "="">
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date2"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date2-"><span class="glyphicon glyphicon-arrow-down"></span></a>
        结束打卡时间</th>
        <th "="">
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date3"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="http://211.75.232.227/pingan/applyVolunteer2?ord=date3-"><span class="glyphicon glyphicon-arrow-down"></span></a>
        总时间</th>
        <th "="">
        获得点数</th>
        <th "="">
        花费点数</th>
    </tr></thead>
    <tbody><tr><td>2017-05-31</td><td>案家服務</td><td>王爺爺</td><td>2017-05-31 07:00:17</td><td>2017-05-31 07:00:17</td><td>3</td><td>0.5000</td><td></td></tr><tr><td>2017-05-26</td><td>案家服務</td><td>王爺爺</td><td>2017-05-26 11:33:43</td><td>0000-00-00 00:00:00</td><td>3</td><td>0.5000</td><td></td></tr><tr><td>2017-05-26</td><td>案家服務</td><td>王爺爺</td><td>2017-05-26 11:08:33</td><td>2017-05-26 11:08:33</td><td>3</td><td>0.5000</td><td></td></tr><tr><td>2017-05-26</td><td>案家服務</td><td>王爺爺</td><td>0000-00-00 00:00:00</td><td>0000-00-00 00:00:00</td><td>3</td><td>0.5000</td><td></td></tr></tbody></table></div><hr><div class="row">列出最近15笔纪录</div>
</div>