<div class="orderService">
    <!--工单服务头部-->
    <div class="content">服务内容</div>
    <!--solid-->
    <div class="solid"></div>
    <!--服务类型-->
    <ul class="type clearfix">
        <li class="fl lo"><span>服务类型：</span></li>
        <li class="fl lt">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu">全部<span class="glyphicon glyphicon-menu-down"></span></button>

                <ul class="dropdown-menu dropdown_menu1" role="menu" aria-labelledby="dropdownMenu">
                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1">待发布</a><li>
                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1">已发布</a><li>
                </ul>
            </div>
        </li>
        <li class="fr ro" id=""><a href="javascript:;">+ 新增服务类型</a></li>
        <li class="fr rt"><a href="javascript:;" id="content_add" data-toggle="modal" data-target="#mymodal-data" data-backdrop="static" data-keyboard="true">+ 新增服务内容</a></li>
    </ul>
    <!--服务列表-->
    <ul class="clearfix servicelist">
        <li class="fl obj">服务类型</li>
        <li class="fl con">服务内容</li>
        <li class="fl charge">收费规则</li>
        <li class="fl state">启用状态</li>
        <li class="fl operation">操作</li>
    </ul>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--分页-->
    <ul class="pagination pagination-lg pagination_footer">
        <li><a href="javascript:;">上一页</a></li>
        <li><a href="javascript:;">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;">4</a></li>
        <li><a href="javascript:;">5</a></li>
        <li><a href="javascript:;">下一页</a></li>
    </ul>
    <!--服务内容弹窗-->
    <div class="modal fade" id="mymodal-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">新增服务内容</h4>
                </div>
                <div class="modal-body">
                    <ul class="obj clearfix">
                        <li><span class="fl obj_l">服务类型：</span></li>
                        <li class="fl obj_r">
                            <select name="select" id="select_k1" class="xla_k">
                                <option value="选择品牌">请选择</option>
                                <option value="选择品牌1">请选择1</option>
                                <option value="选择品牌2">请选择2</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="clearfix namesev">
                        <li class="fl namesev_l"><span>服务名称：</span></li>
                        <li class="fl namesev_r"><input type="text"></li>
                    </ul>
                    <ul class="introduce clearfix">
                        <li class="fl introduce_l"><span>服务介绍：</span></li>
                        <li class="fl introduce_c">
                            <textarea></textarea>
                        </li>
                        <li class="fl introduce_r"><span>还可以输入200字</span></li>
                    </ul>
                    <ul class="introduce clearfix">
                        <li class="fl introduce_l"><span>服务内容：</span></li>
                        <li class="fl introduce_c">
                            <textarea></textarea>
                        </li>
                        <li class="fl introduce_r"><span>还可以输入200字</span></li>
                    </ul>
                    <ul class="company clearfix">
                        <li class="company_l fl"><span>单位：</span></li>
                        <li class="company_r fl"><input type="text"></li>
                    </ul>
                    <ul class="clearfix rule">
                        <li class="fl rule_fir"><span>规则1：</span></li>
                        <li class="fl time"><span>时长：</span></li>
                        <li class="fl rule_l"><input type="text"></li>
                        <li class="fl hour"><span>小时</span></li>
                        <li class="fl change"><span>费用：</span></li>
                        <li class="fl rule_r"><input type="text"></li>
                        <li class="fl money"><span>元/小时</span></li>
                    </ul>
                    <div class="oadd clearfix">
                        <div class="oadd_l fl">+</div>
                        <div class="oadd_r fl">继续添加</div>
                    </div>
                    <ul class="clearfix btna">
                        <li class="fl btn_l"><input type="button" value="保存"></li>
                        <li class="fl btn_r"><input type="button" value="取消"></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                    <button class="btn btn-primary" type="button">保存</button>
                </div>
            </div>
        </div>
    </div>



    <!--<script>-->

            <!--var oBtn = document.getElementById('content_add');-->
            <!--var oBox = document.getElementById('content_box');-->
            <!--var oBtn1 = document.getElementById('btn_x')-->
            <!--oBtn.onclick = function(){-->
                <!--oBox.style.display="block";-->
            <!--};-->
            <!--oBtn1.onclick = function(){-->
                <!--oBox.style.display="none";-->
            <!--};-->

    <!--</script>-->

    <!--服务类型弹窗-->


</div>























