<aside>
    <ul class="server_left">
        <li class="panel_head">
            <div class="panel_text border_active text_active">居家照顾清单<span class="plus">-</span></div>
            <ul class="panel_body company_body1 server_active">
                <li class="panel_list"><a ui-sref="company.siteManagement" class="list_active"></a>申请居家照顾</li>
                <li class="panel_list"><a ui-sref="company.companyManagement"></a></li>
               <!-- <li class="panel_list"><a ui-sref="company.departmentManagement">部门管理</a></li>-->
            </ul>
        </li>
    <!--    <li class="panel_head">
            <div class="panel_text">员工管理<span class="plus">+</span></div>
            <ul class="panel_body company_body2">
                <li class="panel_list"><a ui-sref="company.staffManagement">员工管理</a></li>
                <li class="panel_list"><a ui-sref="company.roleManagement">角色管理</a></li>
                <li class="panel_list"><a ui-sref="company.accountManagement">账号管理</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">社工管理<span class="plus">+</span></div>
            <ul class="panel_body company_body3">
                <li class="panel_list"><a ui-sref="company.socialArchives">社工档案</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">活动管理<span class="plus">+</span></div>
            <ul class="panel_body company_body4">
                <li class="panel_list"><a ui-sref="company.activityManagement">活动管理</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">需求管理<span class="plus">+</span></div>
            <ul class="panel_body panel_body5">
                <li class="panel_list"><a ui-sref="company.demandManagement">需求管理</a></li>
            </ul>
        </li>
    --></ul>
</aside>
<div ui-view class="server_body"></div>