<aside>
    <ul class="server_left">
        <li class="panel_head">
            <div class="panel_text border_active text_active">点数记录<span class="plus">-</span></div>
            <ul class="panel_body member_body1 server_active">
                <li class="panel_list"><a ui-sref=".receptionRegistration" class="list_active">点数记录</a></li>
                <!--<li class="panel_list"><a ui-sref=".memberManagement">会员管理</a></li>-->
            </ul>
            <div class="panel_text border_active text_active">报名志工服务活动<span class="plus">-</span></div>
            <ul class="panel_body member_body1 server_active">
                <li class="panel_list"><a ui-sref=".receptionRegistration" class="list_active">报名志工服务活动</a></li>
                <!--<li class="panel_list"><a ui-sref=".memberManagement">会员管理</a></li>-->
            </ul>
            <div class="panel_text border_active text_active">申请辅导志工<span class="plus">-</span></div>
            <ul class="panel_body member_body1 server_active">
                <li class="panel_list"><a ui-sref=".receptionRegistration" class="list_active">申请辅导志工</a></li>
                <!--<li class="panel_list"><a ui-sref=".memberManagement">会员管理</a></li>-->
            </ul>
            <div class="panel_text border_active text_active">反映问题清单<span class="plus">-</span></div>
            <ul class="panel_body member_body1 server_active">
                <li class="panel_list"><a ui-sref=".receptionRegistration" class="list_active">反映问题清单</a></li>
                <li class="panel_list"><a ui-sref=".memberManagement">历史问题</a></li>
            </ul>
            <div class="panel_text border_active text_active">课程报名清单<span class="plus">-</span></div>
            <ul class="panel_body member_body1 server_active">
                <li class="panel_list"><a ui-sref=".receptionRegistration" class="list_active">课程报名清单</a></li>
                <li class="panel_list"><a ui-sref=".memberManagement">课程报名</a></li>
            </ul>
        </li>
    </ul>
</aside>
<div ui-view class="server_body"></div>