<aside>
    <ul class="server_left">
        <li class="panel_head">
            <div class="panel_text border_active text_active">会员信息<span class="plus">-</span></div>
            <ul class="panel_body panel_body1 server_active">
                <li class="panel_list"><a ui-sref="server.rechargeManagement" class="list_active">会员信息</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">修改密码<span class="plus">+</span></div>
           <ul class="panel_body panel_body2">
                <li class="panel_list"><a ui-sref="server.healthDetection">修改密码</a></li>
                <!--<li class="panel_list"><a ui-sref="server.healthRecord">健康记录</a></li>-->
            </ul>
        </li>
       <!-- <li class="panel_head">
            <div class="panel_text">定位预警<span class="plus">+</span></div>
            <ul class="panel_body panel_body3">
                <li class="panel_list"><a ui-sref="server.locationQuery">定位查询</a></li>
                <li class="panel_list"><a ui-sref="server.police">报警</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">工单管理<span class="plus">+</span></div>
            <ul class="panel_body panel_body4">
                <li class="panel_list"><a ui-sref="server.workList">工单列表</a></li>
                <li class="panel_list"><a ui-sref="server.orderService">订单服务</a></li>
                <li class="panel_list"><a ui-sref="server.orderSetting">订单设置</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">呼叫中心<span class="plus">+</span></div>
            <ul class="panel_body panel_body5">
                <li class="panel_list"><a ui-sref="server.callManagement">呼叫管理</a></li>
            </ul>
        </li>
        <li class="panel_head">
            <div class="panel_text">设备绑定<span class="plus">+</span></div>
            <ul class="panel_body panel_body6">
                <li class="panel_list"><a ui-sref="server.deviceManagement">设备管理</a></li>
            </ul>
        </li>-->
    </ul>
</aside>
<div ui-view class="server_body"></div>