<aside>
    <ul class="server_left">
        <li class="panel_head">
            <div class="panel_text border_active text_active">亲人授权<span class="plus">-</span></div>
            <ul class="panel_body system_body1 server_active">
                <li class="panel_list"><a ui-sref="system.passwordModification" class="list_active">亲属授权</a></li>
                <!--<li class="panel_list"><a ui-sref="system.log">操作日志</a></li>-->
            </ul>
            <div class="panel_text border_active text_active">亲人现况查询<span class="plus">-</span></div>
            <ul class="panel_body system_body1 server_active">
                <li class="panel_list"><a ui-sref="system.passwordModification" class="list_active">历史资料查询</a></li>
                <li class="panel_list"><a ui-sref="system.log">亲人位置查询</a></li>
            </ul>
            <div class="panel_text border_active text_active">下载专区<span class="plus">-</span></div>
            <ul class="panel_body system_body1 server_active">
                <li class="panel_list"><a ui-sref="system.passwordModification" class="list_active">下载专区</a></li>
                <!--<li class="panel_list"><a ui-sref="system.log">操作日志</a></li>-->
            </ul>
        </li>
    </ul>
</aside>
<div ui-view class="server_body"></div>